body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

button.btn.btn-success.leaflet-control {
    font-size: 50px;
    width: 400px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

button.btn.btn-success.leaflet-control:hover {
    background-color: #45a049; /* Couleur de fond au survol (optionnel) */
}

.leaflet-popup-content {
    font-size: 18px;
}

.leaflet-popup-content-wrapper,.leaflet-popup-content {
    width: 450px !important
}
