body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#locateButton {
    font-size: 50px;
    width: 400px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    position: fixed;        /* Fixe le bouton par rapport au viewport */
    bottom: 20px;           /* Espace du bas */
    left: 50%;              /* Position de départ à 50% de la largeur à gauche */
    transform: translateX(-50%); /* Décale le bouton de 50% de sa propre largeur vers la gauche */
    z-index: 1000;          /* S'assure que le bouton reste au-dessus des autres éléments de la carte */
    padding: 10px 20px;     /* Ajoute de l'espace intérieur pour un meilleur visuel et une meilleure réactivité */
}

#locateButton:hover {
    background-color: #45a049; /* Couleur de fond au survol (optionnel) */
}

.leaflet-popup-content {
    font-size: 18px;
}

.leaflet-popup-content-wrapper,.leaflet-popup-content {
    width: 430px !important
}
