body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  font-family: 'Poppins', sans-serif;
}

canvas {
  display: block; /* Prevent inline spacing */
  background-color: #000; /* Optional: Set background color */
}

header.relative.z-10.p-6 {
    display: none;
}

footer.relative.z-10.text-center.py-8.text-sm.opacity-70 {
    color: #ffffff42;
    background: #7f7f7f00;
    border: solid 1px #7f7f7f36;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
}
