html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: calc(100% - 20px); /* Largeur de la fenêtre moins la marge */
    height: calc(100% - 20px);
    margin: 10px;
}

.info.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.5); /* blanc semi-transparent */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 30px; /* Ajuster pour centrer le texte verticalement avec les icônes */
}

.legend i {
    width: 18px; /* Nouvelle largeur de l'icône */
    height: 30px; /* Nouvelle hauteur de l'icône, arrondie */
    float: left;
    margin-right: 8px;
    background-size: contain; /* S'assure que l'icône est entièrement visible */
    background-position: center center;
    margin-top: -3px; /* Ajustement pour centrer verticalement si nécessaire */
}

.legend .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Style pour la modale */
#otherToolsModal {
  display: none; /* Important pour qu'elle ne s'affiche pas au chargement de la page */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#otherToolsModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Vous pouvez ajuster la largeur de la modale ici */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optionnel: ajoute de l'ombre pour le relief */
  border-radius: 5px; /* Optionnel: coins arrondis */
}

/* Style pour le bouton de fermeture de la modale */
#otherToolsModal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0px;
}

#otherToolsModal .close:hover,
#otherToolsModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
