html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: calc(100% - 40px); /* Largeur de la fenêtre moins la marge */
    height: calc(100% - 40px);
    margin: 20px;
}

.info.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.5); /* blanc semi-transparent */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 24px; /* Ajuster pour centrer le texte verticalement avec les icônes */
}

.legend i {
    width: 18px; /* Réduire la taille de l'icône */
    float: left; /* Aligner les icônes à gauche */
    margin-right: 8px; /* Espace entre l'icône et le texte */
    opacity: 0.7; /* Réduire l'opacité de l'icône si nécessaire */
    background-size: 18px 18px; /* S'assurer que les icônes couvrent la zone de fond */
}

.legend .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}
