* {
    font-family: 'Century Gothic', Arial, sans-serif !important;
}

body {
    background-color: #303030;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    padding: 20px;
}

.photo, .folder {
    border-radius: 6px;
    background-color: #424242;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 200px !important;
    margin: 6px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.folder:hover, .photo:hover {
    transform: scale(1.03);
}

.title {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#lightbox-img {
    max-width: 98vw;
    max-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    padding: 20px;
    z-index: 1001;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

/* Breadcrumb Navigation */
.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    color: #ffffff;
}

.breadcrumb a {
    text-decoration: none;
    color: #3498db;
    font-weight: 500;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .separator {
    margin: 0 5px;
    color: #ccc;
}

/* Animation */
@keyframes loading {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

#processingMessage {
    margin-left: 20px;
    font-size: 18px;
    color: #ffffff;
    display: none;
    position: relative;
}

#processingMessage::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: loading 1s infinite alternate;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .photo, .folder {
        width: 100%;
        height: auto;
    }
    #prev, #next {
        font-size: 30px;
        padding: 10px;
    }
}
