body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

#container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 250px;
    background-color: #1e1e1e;
    padding: 20px;
    overflow-y: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

#home-button-sidebar,
#home-button-header {
    color: #e0e0e0;
    padding: 10px;
    background-color: #444444;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    text-align: center;
}

#home-button-sidebar:hover,
#home-button-header:hover {
    background-color: #555555;
    cursor: pointer;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#header {
    background-color: #333333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444444;
    gap: 10px;
    position: relative;
}

#separator {
    display: flex;
    align-items: center;
    color: #888888;
}

#theme-name,
#theme-list li,
.article-button,
.dropdown-content li {
    font-size: 1.2em;
    color: #e0e0e0;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#theme-name:hover,
#theme-list li:hover,
.article-button:hover,
.dropdown-content li:hover {
    background-color: #555555;
}

#article-name {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative;
}

#dropdown-arrow {
    margin-left: 5px;
    align-items: center;
    color: #888888;
}

.icon-md {
    width: 16px;
    height: 16px;
}

.rotate-270 {
    transform: rotate(270deg);
}

#article-name:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444444;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    white-space: nowrap;
    width: auto;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}

#content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #2e2e2e;
    border-radius: 0px;
    margin: 0px 0px;
}

#theme-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Aligns the theme list with the top of the sidebar */
}

#theme-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444444;
    border-radius: 5px;
    margin-bottom: 5px;
}

#theme-list li:hover,
#theme-list li.active {
    background-color: #333333;
}

.article-buttons {
    margin-top: 20px;
}

.article-button {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.article-button:hover {
    background-color: #555555;
}

.theme-buttons {
    margin-top: 20px;
}

.theme-button {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
}

.theme-button:hover {
    background-color: #555555;
}

.article-buttons {
    margin-left: 20px;
}

.article-button {
    display: block;
    padding: 8px 12px;
    margin-bottom: 5px;
    background-color: #555555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.article-button:hover {
    background-color: #666666;
}
