body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

#container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 250px;
    background-color: #1e1e1e;
    padding: 20px;
    overflow-y: auto;
    flex-shrink: 0;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#header {
    background-color: #333333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444444;
    gap: 10px; /* Ensure equal spacing between elements */
    position: relative; /* Ensure dropdown remains within header context */
}

#theme-name,
#theme-list li,
.article-button,
.dropdown-content li {
    font-size: 1.2em;
    color: #e0e0e0;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Indicate it's clickable */
}

#theme-name:hover,
#theme-list li:hover,
.article-button:hover,
.dropdown-content li:hover {
    background-color: #555555; /* Similar hover effect for all elements */
}

#separator {
    display: flex;
    align-items: center;
    color: #888888; /* Dim the ">" symbol */
}

#article-name {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative; /* Needed for dropdown positioning */
}

#dropdown-arrow {
    margin-left: 5px; /* Slightly increase the space between the title and the arrow */
    align-items: center;
    color: #888888; /* Dim the arrow */
}

.icon-md {
    width: 16px; /* Increase the width of the SVG icon */
    height: 16px; /* Increase the height of the SVG icon */
}

.rotate-270 {
    transform: rotate(270deg); /* Rotate the arrow by 270 degrees */
}

#article-name:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444444;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    white-space: nowrap; /* Prevent text from wrapping */
    width: auto; /* Let width adjust based on content */
    top: 100%; /* Position dropdown directly below the article name */
    left: 0;
    transform: translateX(-50%); /* Center the dropdown under the article title */
    transition: all 0.2s ease; /* Smooth transition effect for hover */
}

#content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #2e2e2e;
    border-radius: 0px;
    margin: 0px 0px;
}

#theme-list li {
    border-bottom: 1px solid #444444;
    margin-bottom: 5px;
}

#theme-list li.active {
    background-color: #333333;
}

.article-buttons {
    margin-top: 20px;
}
